.App {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid;
}

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.row-item {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 5;
}

.row:nth-of-type(odd) .row-item:nth-of-type(odd),
.row:nth-of-type(even) .row-item:nth-of-type(even) {
  background: black;
}

.row-item.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rebeccapurple;
  z-index: 1;
}

.checker {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}
.checker-icon {
  margin: 5px;
}
.white {
  background: #fff;
}

.black {
  background: blue;
}

.active {
  background: yellow;
}
